@media (max-width: 1600px) {
  #Navbar-Title-left {
    margin-left: auto;
    border-left: none;
  }
}

#Navbar-Title-right {
  border-right-style: none;
}

@media (min-width: 1400px) {
  #en-flag {
    max-width: 25px;
  }
}

@media (max-width: 1400px) {
  #en-flag {
    max-width: 20px;
  }
}

@media (max-width: 992px) {
  .Navbar-name {
    border-right: none;
    display: flex;
    padding: 0px;
    margin: auto;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .img-left {
    max-width: 200px;
  }
}

@media (max-width: 1200px) {
  .img-left {
    max-width: 237px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .img-left {
    max-width: 350px;
  }
}

@media (min-width: 1400px) and (max-width: 1800px) {
  .img-left {
    max-width: 450px;
  }
}

@media (min-width: 1800px) {
  .img-left {
    max-width: 540px;
  }
}

@media (max-width: 992px) {
  .komponisten-liste-1 {
  }
}

@media (min-width: 992px) {
  .komponisten-liste-1 {
    display: block;
  }
}

@media (max-width: 992px) {
  .komponisten-liste-2 {
    display: flex;
  }
}

@media (min-width: 992px) {
  .komponisten-liste-2 {
    display: none;
  }
}

button {
}

@media (min-width: 788px) {
  .footer {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .footer {
    font-size: 8px;
  }
}

@media (min-width: 576px) and (max-width: 787px) {
  .footer {
    font-size: 12px;
  }
}

