.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.head-link {
  text-decoration: none;
  color: var(--bs-emphasis-color);
  font-size: 20px;
  display: flex;
  margin: auto;
}

li {
  padding-left: 20px;
}

::-webkit-scrollbar-track {
  border: 1px solid black;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}

#unterrichts-liste {
  list-style-type: '⚬';
}

.mail-link {
  text-decoration: none;
  color: black;
  line-height: 2;
  position: relative;
}

.mail-link::before {
  content: '';
  width: 0;
  height: 1px;
  border-radius: 2px;
  background-color: #000000;
  position: absolute;
  bottom: -.25rem;
  right: 0;
  transition: right .4s, width .4s, left .4s;
}

.mail-link:hover::before {
  width: 100%;
  left: 0;
}

@media (min-width: 1400px) {
  .Navbar-Links {
    border-right-width: 1px;
    border-right-style: solid;
    display: flex;
  }
}

@media (max-width: 1400px) {
  .Navbar-Links {
    margin-left: auto;
    font-family: 'Cormorant Garamond', serif;
    justify-content: center;
    display: none;
  }
}

@media (min-width: 1600px) {
  .Navbar-Title {
    border-right-width: 1px;
    border-right-style: solid;
    display: flex;
    align-items: stretch;
    padding-left: 45px;
    padding-right: 45px;
  }
}

.en-flag {
  margin: auto;
  border-right: none;
  display: flex;
  padding: 0px;
}

@media (max-width: 992px) {
  .Navbar-Title {
    margin: auto;
    border-right: none;
    display: none;
    padding: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1600px) {
  .Navbar-Title {
    margin: auto;
    border-right: none;
    display: flex;
    padding: 0px;
  }
}

.en-version {
  padding: 45px;
}

.en-version {
  padding: 45px;
}

@media (min-width: 1400px) {
  .en-version-xl {
    padding: 40px;
    display: none;
  }
}

@media (max-width: 1399px) {
  .en-version-xl {
    padding: 40px;
  }
}

@media (min-width: 1400px) {
  .img-1 {
    width: 568px;
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .img-1 {
    width: 420px;
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  .img-1 {
    width: 145px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .img-1 {
    width: 250px;
  }
}

@media (min-width: 1800px) {
  .CV {
    padding: 40px;
  }
}

@media (max-width: 565px) {
  .CV {
    font-family: 'Cormorant Garamond', serif;
    max-width: 750px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 565px) and (max-width: 1800px) {
  .CV {
    font-family: 'Cormorant Garamond', serif;
    padding: 40px;
    max-width: 750px;
  }
}

@media (min-width: 1800px) {
  .img-3 {
    width: 700px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .img-3 {
    width: 200px;
  }
}

@media (min-width: 992px) and (max-width: 1800px) {
  .img-3 {
    width: 380px;
  }
}

@media (min-width: 1800px) {
  .img-2 {
    width: 100%;
    object-fit: contain;
    max-height: 567px;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .img-2 {
    width: 100%;
    object-fit: contain;
    max-height: 380px;
  }
}

@media (min-width: 992px) and (max-width: 1800px) {
  .img-2 {
    width: 100%;
    object-fit: contain;
    max-height: 483px;
  }
}

@media (min-width: 1400px) {
  .title-1 {
    font-size: 40px;
    margin-bottom: 0px;
    font-family: 'IBM Plex Serif';
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .title-1 {
    font-size: 45px;
    margin-bottom: 0px;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 30px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .title-1 {
    font-size: 45px;
    margin-bottom: 0px;
    font-family: 'Cormorant Garamond', serif;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 1400px) {
  .title-2 {
    font-size: 60px;
    font-family: 'IBM Plex Serif';
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .title-2 {
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1400px) {
  .title-2 {
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
    padding-left: 40px;
  }
}

@media (min-width: 1800px) {
  .title-3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1799px) {
  .title-3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1800px) {
  .s-title-3 {
    font-size: 20px;
  }
}

@media (max-width: 1799px) {
  .s-title-3 {
    font-size: 20px;
  }
}

@media (max-width: 565px) {
  .CV-list {
    font-size: 15px;
    max-width: 674px;
  }
}

@media (min-width: 576px) and (max-width: 1799px) {
  .CV-list {
    font-size: 16px;
    max-width: 674px;
  }
}

@media (min-width: 1800px) {
  .CV-list {
    font-size: 16px;
    max-width: 1000px;
  }
}

@media (min-width: 1800px) {
  .text {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .text {
    font-size: 15px;
  }
}

@media (min-width: 577px) and (max-width: 1800px) {
  .text {
    font-size: 17px;
  }
}

.CV2 {
  padding: 40px;
  /*display: flex;*/
  margin-left: auto;
  border-left: 1px solid var(--bs-emphasis-color);
}

@media (max-width: 767px) {
  .CV2 {
    display: none;
  }
}

.mail-link {
  margin-bottom: 20px;
  font-family: 'Source Sans 3', sans-serif;
}

.img-4 {
  width: 100%;
  object-fit: contain;
  max-height: 449px;
}

@media (max-width: 768px) {
  .Weitere-Horizonte {
    display: block;
  }
}

@media (min-width: 768px) {
  .Weitere-Horizonte {
    display: flex;
  }
}

@media (max-width: 992px) {
  .pic-1 {
    display: none;
  }
}

@media (min-width: 768px) {
  .pic-1 {
    padding: 40px;
    border-right: 1px solid var(--bs-emphasis-color);
  }
}

@media (max-width: 767px) {
  .img-media-query {
    display: none;
  }
}

@media (min-width: 767px) {
  .img-media-query {
    padding: 40px;
    border-right: 1px solid var(--bs-emphasis-color);
  }
}

@media (max-width: 576px) {
  .site-title {
    text-decoration: none;
    color: var(--bs-emphasis-color);
    font-size: 30px;
    display: flex;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .site-title {
    text-decoration: none;
    color: var(--bs-emphasis-color);
    font-size: 30px;
    display: flex;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 577px) and (max-width: 1200px) {
  .site-title {
    text-decoration: none;
    color: var(--bs-emphasis-color);
    font-size: 30px;
    font-family: 'IBM Plex Serif';
    display: flex;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.en-flag {
  width: 106px;
  padding: 40px;
  margin: -38px;
  border-right-style: none;
}

@media (max-width: 767px) {
  .img-5 {
    padding: 40px;
    display: flex;
    margin-left: auto;
    border-top: 1px solid var(--bs-emphasis-color);
  }
}

@media (min-width: 767px) {
  .img-5 {
    padding: 40px;
    display: flex;
    margin-left: auto;
    border-left: 1px solid var(--bs-emphasis-color);
  }
}

@media (min-width: 768px) {
  #start-page {
    display: flex;
  }
}

@media (max-width: 767px) {
  #start-page {
    display: flex;
    /*border-bottom-width: 1px;*/
    /*border-bottom-style: solid;*/
    flex-direction: column;
  }
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: #FFF;
  padding: 70px 0;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: ease;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: #FFF;
  padding: 70px 0;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: ease;
}

@media (max-width: 992px) {
  #Navbar {
    border-width: 1px;
    border-style: solid;
    height: 120px;
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    transition: all 0.3s ease;
    align-items: center;
    z-index: 1;
    display: none;
  }
}

@media (min-width: 992px) {
  #Navbar {
    border-width: 1px;
    border-style: solid;
    height: 120px;
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    transition: all 0.3s ease;
    align-items: center;
    z-index: 1;
  }
}

#Navbar.sticky {
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-link {
  border-right-width: 1px;
  border-right-style: solid;
  display: flex;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .site-link {
    text-decoration: none;
    color: var(--bs-emphasis-color);
    font-size: 14px;
    font-family: 'IBM Plex Serif';
    display: flex;
    /*padding: 45px;*/
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .site-link {
    text-decoration: none;
    color: var(--bs-emphasis-color);
    font-size: 16px;
    font-family: 'IBM Plex Serif';
    display: flex;
    /*padding: 45px;*/
    margin: auto;
  }
}

.navbar-content {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

#Navbar.sticky .Navbar-Title .site-title #Navbar-Title-left #en-flag #Navbar-Title-right .Navbar-name {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}

#Navbar:not(.sticky) .Navbar-Title .site-title #Navbar-Title-left #en-flag #Navbar-Title-right .Navbar-name {
  padding-top: 30px;
  padding-bottom: 30px;
  transition: all 0.3s ease;
}

@media (max-width: 1600px) {
  #Navbar-Title-left {
    margin-left: auto;
    border-left: none;
  }
}

@media (min-width: 1600px) {
  #Navbar-Title-left {
    margin-left: auto;
    border-left: 1px solid var(--bs-emphasis-color);
  }
}

#Navbar-Title-right {
  border-right-style: none;
}

@media (min-width: 1400px) {
  #en-flag {
    max-width: 25px;
  }
}

@media (max-width: 1400px) {
  #en-flag {
    max-width: 20px;
  }
}

@media (max-width: 992px) {
  .Navbar-name {
    border-right: none;
    display: flex;
    padding: 0px;
    margin: auto;
  }
}

@media (min-width: 1600px) {
  .Navbar-name {
    border-right: 1px solid var(--bs-emphasis-color);
    display: flex;
    padding: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1600px) {
  .Navbar-name {
    border-right: none;
    display: flex;
    padding: 0px;
  }
}

@media (max-width: 576px) {
  .img-mobile {
    padding: 40px;
    border-top: 1px solid var(--bs-emphasis-color);
  }
}

@media (min-width: 577px) {
  .img-mobile {
    padding: 40px;
    display: none;
  }
}

#CV {
  border-top: 1px solid var(--bs-emphasis-color);
}

.list-1 {
  margin-bottom: 14px;
}

@media (max-width: 767px) {
  .list-2 {
    margin-bottom: 14px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .list-2 {
    margin-bottom: 14px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .list-3 {
    margin-bottom: 14px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .list-3 {
    margin-bottom: 14px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .list-4 {
    margin-bottom: 14px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .list-4 {
    margin-bottom: 14px;
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .list-5 {
    margin-bottom: 14px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .list-5 {
    margin-bottom: 14px;
    margin-left: 80px;
  }
}

@media (max-width: 767px) {
  .list-6 {
    margin-bottom: 14px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .list-6 {
    margin-bottom: 14px;
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .list-7 {
    margin-bottom: 14px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .list-7 {
    margin-bottom: 14px;
    margin-left: 120px;
  }
}

@media (min-width: 1400px) {
  .img-left-1 {
    max-width: 461px;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .img-left-1 {
    max-width: 140px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .img-left-1 {
    max-width: 305px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .img-left-1 {
    max-width: 450px;
  }
}

@media (max-width: 767px) {
  .img-mobile-1 {
    padding: 40px;
    border-top: 1px solid var(--bs-emphasis-color);
  }
}

@media (min-width: 768px) {
  .img-mobile-1 {
    display: none;
  }
}

#unterrichten {
  border-top: 1px solid var(--bs-emphasis-color);
}

#Komponisten {
  border-top: 1px solid var(--bs-emphasis-color);
}

.big-title {
  display: flex;
}

@media (max-width: 767px) {
  #vertical-title {
    font-family: 'Playfair Display', serif;
    font-size: 33px;
    margin: 0px;
    padding: 40px;
    letter-spacing: 11px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #vertical-title {
    font-family: 'Playfair Display', serif;
    font-size: 33px;
    margin: 0px;
    padding: 40px;
    letter-spacing: 11px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

@media (min-width:1200px) and (max-width: 1400px) {
  #vertical-title {
    font-family: 'Playfair Display', serif;
    font-size: 53px;
    margin: 0px;
    padding: 40px;
    letter-spacing: 11px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

@media (min-width: 1400px) and (max-width: 1800px) {
  #vertical-title {
    font-family: 'Playfair Display', serif;
    font-size: 53px;
    margin: 0px;
    padding: 40px;
    letter-spacing: 11px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

@media (min-width: 1800px) {
  #vertical-title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin: 0px;
    padding: 40px;
    letter-spacing: 30px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}

@media (max-width: 565px) {
  #text-1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--bs-body-color);
    font-size: 15px;
    width: auto;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 576px) and (max-width: 1799px) {
  #text-1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--bs-body-color);
    font-size: 17px;
    width: auto;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 1800px) {
  #text-1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--bs-body-color);
    font-size: 25px;
    width: auto;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-mobile-navpoints {
    margin-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .navbar-mobile-navpoints {
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 992px) {
  #navbar-mobile {
    height: auto;
    border-bottom: 1px solid var(--bs-emphasis-color);
    display: flex;
    flex-direction: column;
    display: none;
  }
}

@media (max-width: 991px) {
  #navbar-mobile {
    height: auto;
    border-bottom: 1px solid var(--bs-emphasis-color);
    display: flex;
    flex-direction: column;
  }
}

